.hidden
{
	display: none;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.woff2') format('woff2'),
         url('../fonts/Gotham-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h2
{
	font-family: "Gotham", arial, sans-serif;
}

#container
{
	width: 1200px;
	margin: 0 auto;
}

header
{
	display: flex;
	flex-direction: row;
	background-color: #000;
	height: 100px;
}

#logo
{
	height: 100px;
	width: 100px;
	margin-left: 30px;
}

#mainNav
{
	margin-left: auto;
}

#mainNav ul
{
	display: flex;
	flex-direction: row;
	margin-top: 35px;
	width: 500px;
	margin-right: 10px;
}

#mainNav ul a
{
	margin-left: 15px;
	display: block;
	font-family: "Gotham", arial, sans-serif;
	color: #fff;
	text-align: center;
	padding: 10px 5px 10px 5px;
	transition: all .3s linear;
}

#mainNav ul a:hover
{
	color: #F5A200;
	border-bottom: 5px solid #F5A200;
}

#promoImage
{
	background-image: url(../images/promo_image.png);
	width: 1200px;
	height: 399px;
	border-bottom: 5px solid #000;
	margin-bottom: 75px;
}

#animation
{
	font-family: "Gotham", arial, sans-serif;
	font-size: 72px;
	color: #fff;
	padding: 10px 0px 0px 30px;
	animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein
{
  from
	{
    margin-top: 50%;
		width: 100%
  }

  to
	{
    margin-top: 0%;
    width: 100%;
  }
}

#beerPromo
{
	width: 800px;
	height: 250px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	border: 4px solid #000;
}

#beerPromoInfo
{
	display: flex;
	flex-direction: column;
	background-color: #000;
}

#beerPromoInfo h2
{
	font-size: 60px;
	color: #F5A200;
	margin-left: 10px;
	margin-bottom: 20px;
}

#beerPromoInfo p
{
	font-family: arial, sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	margin-left: 15px;
	margin-right: 10px;
}

#beerPromoInfo a
{
	color: #fff;
	font-family: arial, sans-serif;
	font-size: 16px;
	margin-left: auto;
	margin-right: 40px;
	margin-top: 70px;
	padding: 10px 5px 10px 5px;
	border: 3px solid #fff;
	transition: all .2s linear;
}

#beerPromoInfo a:hover
{
	border: 3px solid #f5a200;
	color: #f5a200;
}

#aboutPromo
{
	width: 800px;
	height: 250px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 75px;
	margin-bottom: 75px;
	border: 4px solid #000;
	background-color: #000;
}

#aboutPromoInfo
{
	display: flex;
	flex-direction: column;
	width: 800px;
}

#aboutPromoInfo h2
{
	font-size: 60px;
	color: #F5A200;
	margin-left: 10px;
	margin-bottom: 20px;
}

#aboutPromoInfo p
{
	font-family: arial, sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	margin-left: 15px;
	margin-right: 10px;
}

#aboutPromoInfo a
{
	color: #fff;
	font-family: arial, sans-serif;
	font-size: 16px;
	margin-left: auto;
	margin-right: 50px;
	margin-top: 90px;
	padding: 10px 5px 10px 5px;
	border: 3px solid #fff;
	transition: all .2s linear;
}

#aboutPromoInfo a:hover
{
	border: 3px solid #f5a200;
	color: #f5a200;
}

footer
{
	display: flex;
	flex-direction: row;
	width: 1200px;
	height: 100px;
	background-color: #000;
}

footer p
{
	margin-top: 40px;
	margin-left: 30px;
	font-family: arial, sans-serif;
	font-size: 20px;
	color: #fff;
}

#footerNav
{
	margin-left: auto;
}

#footerNav ul
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 200px;
	margin-right: 30px;
	margin-top: 20px;
}

#footerNav ul li a img
{
	width: 50px;
	height: 50px;
	border-radius: 3px;
	transition: all .2s linear;
}

#footerNav ul li a img:hover
{
	filter: drop-shadow(3px 3px 2px #f5a200);
}

/* products page */
#products
{
	height: 1500px;
	background: rgb(196,92,0);
  background: linear-gradient(0deg, rgba(196,92,0,1) 0%, rgba(245,162,0,1) 100%);
}

#productsTitle
{
	font-family: "Gotham", arial, sans-serif;
	font-size: 72px;
	color: #fff;
	  text-shadow:
	   -1px -1px 0 #c45c00,
	    1px -1px 0 #c45c00,
	    -1px 1px 0 #c45c00,
	     1px 1px 0 #c45c00;
	padding-top: 50px;
	margin-left: 100px;
}

.product
{
	width: 800px;
	height: 250px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 75px;
	margin-bottom: 75px;
	border: 4px solid #000;
	background-color: #000;
}

.productInfo
{
	display: flex;
	flex-direction: column;
	width: 800px;
}

.productInfo h2
{
	font-size: 60px;
	color: #F5A200;
	margin-left: 10px;
	margin-bottom: 20px;
}

.productInfo p
{
	font-family: arial, sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	margin-left: 15px;
	margin-right: 10px;
}

.productInfo button
{
	color: #000;
	background-color: #f5a200;
	font-family: arial, sans-serif;
	font-size: 16px;
	margin-left: auto;
	margin-right: 50px;
	margin-top: 90px;
	padding: 10px 5px 10px 5px;
	transition: all .2s linear;
}

.productInfo button:hover
{
	color: #f5a200;
	background-color: #fff;
}

/* About Page */

#about
{
	width: 600px;
}

#about h2
{
	font-size: 48px;
	color: #f5a200;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 30px;
}

#about p
{
	font-family: arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-left: 35px;
}

#history
{
	margin-bottom: 40px;
}

/* Ads Page */

#adsTitle
{
	width: 375px;
	font-size: 48px;
	color: #f5a200;
	margin: 0 auto;
	margin-top: 40px;
}

#adsLineOne
{
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.ad img
{
	border: 2px outset #f5a200;
}

.ad h3
{
	font-family: "Gotham", arial, sans-serif;
	font-size: 24px;
}

#adsLineTwo
{
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* Contact Page */

#contactText h2
{
	font-size: 48px;
	color: #f5a200;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 30px;
}

#contactText p
{
	font-family: arial, sans-serif;
	font-size: 18px;
	margin-left: 35px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#contactText
{
	width: 600px;
}

#contactForms form
{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contactForms label
{
	font-family: arial, sans-serif;
	margin-left: 35px;
}

#phone, #email
{
	width: 300px;
	height: 25px;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 30px;
	border-radius: 3px;
	border-color: #f5a200;
}

#submit
{
	font-size: 16px;
	color: #f5a200;
	width: 70px;
	height: 40px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: 60px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 3px solid #f5a200;
	transition: all .2s linear;
}

#submit:hover
{
	color: #fff;
	background-color: #f5a200;
}

#contactPage
{
	display: flex;
}

#colouredBox
{
	margin-left: auto;
	width: 400px;
	background: rgb(196,92,0);
  background: linear-gradient(0deg, rgba(196,92,0,1) 0%, rgba(245,162,0,1) 100%);
}
